

<link rel = "stylesheet" href = "common_home.css">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample mess website</title>
    
    <link rel = "stylesheet" href = "header.css">
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    


    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
       
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
   <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="userCtrl" id= "bodyy">
  <div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          
          <br>
            <h1 style="color: #00CED1 ; font-size: 70px; font-style: normal; ">UTOPIAN MESS</h1>

            <br><br><br>
            <a href="/login_stu"><p><strong>Login as student</strong></p></a>
          
            <a href="/login_mes"><strong>Login as mess</strong></a>
            <br><br>
          <br>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>


    <!-- <table> -->

<!-- </table> -->