
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Utopian mess website</title>
    <link rel = "stylesheet" href = "common_home.css">
    <link rel = "stylesheet" href = "head_mess.css">
     <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
   <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="userCtrl">
  <div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          
            <h1 style="font-size: 60px ; color: #00CED1;">Mess</h1>
            <br>
            <br>
            <li class="active"><a href="/home_mes/update_menu">Update Menu</a></li>
            <li class="active"><a href="/home_mes/menu_history">Meal History</a></li>
            <li class="active"><a href="/home_mes/orders_placed">Total orders placed for today</a></li>

            <li><a href="/home_mes/history">History</a></li>
            <li><a href="/home_mes/bill">Bill</a></li>
            <li><a href="/home_mes/logout">Logout</a></li>
            <br>
            <br>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>



    
    